<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <ion-item>
        <ion-input label="Email" labelPlacement="stacked" formControlName="email" type="email" placeholder="jane@doe.com"></ion-input>
      </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="stacked" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="**********"></ion-input>
            <ion-icon
              slot="end"
              [name]="showPassword ? 'eye-off' : 'eye'"
              (click)="togglePassword()">
            </ion-icon>
        </ion-item>
      <br>
      <p>
        <ion-router-link routerLink="/register">Create an account</ion-router-link>
      </p>
      <br>
        <ion-button shape="round" type="submit" [disabled]="!loginForm.valid">Sing in</ion-button> 
      </form>
    </ion-card-content>
  </ion-card> 
</ion-content>

